body {
  background-color: DeepSkyBlue;
  text-align: center;
}

a {
  color: #032C3B;
  text-decoration: none;
  border-bottom: 5px solid #B35C00;
  transition: color .5s ease;
}

a:visited {
  color: #065F80;
}

a:hover {
  color: #033040;
  border-bottom: 5px dashed #FF8A0D;
}

a:focus {
  color: orange;
}
