body{
  background-color: black;
  text-align: center;
}

img{
  margin: 0 auto;
}

.two{
  display: none;
}

.three{
  display: none;
}

.four{
  display: none;
}

.five{
  display: none;
}

.six{
  display: none;
}

.show{
  display: block;
}
