body{
  background-color: black;
  text-align: center;
}

img{
  margin: 0 auto;
  padding-top: 10px;
}

img:hover{
  cursor: pointer;
  border-bottom: 5px solid red;
}

.two{
  display: none;
}

.three{
  display: none;
}

.four{
  display: none;
}

.five{
  display: none;
}

.six{
  display: none;
}

.show{
  display: block;
}
