#container{
  width: 100%;
  margin: 0 auto;
}

#vid{
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
}

#vid iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.mobile-only{
  display: none;
}

.desktop-only{
  max-width: 30%;
  margin-left: 70%;
  margin-top: -10%;
  float: left;
  display: block;
}

.title img{
  max-width: 85%;
  margin-top: 10%;
  margin-bottom: 15%;
  margin-left: 8%;
  float: left;
}

.imgone{
  max-width: 40%;
  margin-top: 15%;
  margin-left: 5%;
  float: left;
}

.imgtwo{
  max-width: 40%;
  margin-top: 30%;
  margin-left: 5%;
  float: left;
  display: block;
}

.imgtwonew{
  display: none;
}

.opening{
  background-color: black;
  color: white;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
  overflow-x: hidden;
}

.title{
  background-color: #ED2426;
  padding-top: 10%;
  padding-bottom: 10%;
  overflow-x: hidden;
}

.gray{
  background-color: #969696;
  padding-top: .5%;
  padding-bottom: 10%;
  overflow-x: hidden;
}

.white{
  background-color: #FFFFFF;
  padding-top: .5%;
  padding-bottom: 10%;
  overflow-x: hidden;
}

.red{
  background-color: #ED2426;
  padding-top: .5%;
  padding-bottom: 10%;
  overflow-x: hidden;
}

.textone{
  width: 40%;
  margin-left: 50%;
  margin-top: -60%;
  float: left;
}

.texttwo{
  width: 40%;
  margin-left: 10%;
  float: left;
}

.textthree{
  color: white;
  width: 40%;
  margin-left: 50%;
  margin-top: -60%;
  float: left;
}

.textfour{
  color: white;
  width: 40%;
  margin-left: 10%;
  float: left;
}

body{
  margin: 0;
  margin-top: -5%;
  background-color: #111111;
}

h1{
  font-family: octynaz, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
}

h2{
  font-family: octynaz, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 95px;
}

p{
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

@media only screen and (max-width: 1024px)
{

  .mobile-only{
    display: none;
  }

  .desktop-only{
    max-width: 40%;
    margin-left: 50%;
    margin-top: -10%;
    display: block;
    float: left;
  }

  .title img{
    max-width: 100%;
    margin-top: 35%;
    margin-bottom: 35%;
    margin-left: 0%;
    float: left;
  }

  .opening{
    background-color: black;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    overflow-x: hidden;
  }

  .title{
    background-color: #ED2426;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow-x: hidden;
  }

  .gray{
    background-color: #969696;
    padding-top: .5%;
    padding-bottom: 10%;
    overflow-x: hidden;
  }

  .white{
    background-color: #FFFFFF;
    padding-top: .5%;
    padding-bottom: 10%;
    overflow-x: hidden;
  }

  .red{
    background-color: #ED2426;
    padding-top: .5%;
    padding-bottom: 10%;
    overflow-x: hidden;
  }

  .imgone{
    max-width: 45%;
    margin-left: 1%;
  }

  .imgtwo{
    max-width: 40%;
    margin-left: -1%;
    display: block;
  }

  .imgtwonew{
    display: none;
  }

  .textone{
    width: 50%;
    margin-left: 48%;
    float: left;
  }

  .texttwo{
    width: 50%;
    margin-left: 5%;
    float: left;
  }

  .textthree{
    color: white;
    width: 50%;
    margin-left: 48%;
    float: left;
  }

  .textfour{
    color: white;
    width: 50%;
    margin-left: 10%;
    float: left;
  }

  h1{
  font-family: octynaz, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  }

  h2{
  font-family: octynaz, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 95px;
  }

  p{
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  }
}

@media only screen and (max-width: 768px)
{
  .mobile-only{
    max-width: 100%;
    margin-left: -3%;
    display: block;
  }

  .desktop-only{
    display: none;
  }

  .title img{
    max-width: 100%;
    margin-top: 65%;
    margin-bottom: 65%;
    margin-left: 5px;
    float: left;
  }

  .opening{
    background-color: black;
    color: white;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
    overflow-x: hidden;
  }

  .title{
    background-color: #ED2426;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow-x: hidden;
  }

  .gray{
    background-color: #969696;
    padding-top: .5%;
    padding-bottom: 10%;
    overflow-x: hidden;
  }

  .white{
    background-color: #FFFFFF;
    padding-top: .5%;
    padding-bottom: 10%;
    overflow-x: hidden;
  }

  .red{
    background-color: #ED2426;
    padding-top: .5%;
    padding-bottom: 10%;
    overflow-x: hidden;
  }

  .imgone{
    max-width: 80%;
    margin-top: 15%;
    margin-left: 10%;
  }

  .imgtwo{
    display: none;
  }

  .imgtwonew{
    max-width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    display: block;
  }

  .textone{
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .texttwo{
    width: 90%;
    margin-left: 5%;
  }

  .textthree{
    color: white;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
  }

  .textfour{
    color: white;
    width: 90%;
    margin-left: 5%;
  }

  h1{
  font-family: octynaz, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  }

  h2{
  font-family: octynaz, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  }

  p{
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  }
}

@media only screen and (max-width: 504px)
{
  .mobile-only{
    max-width: 100%;
    margin-left: -3%;
    display: block;
  }

  .desktop-only{
    display: none;
  }

  .title img{
    max-width: 100%;
    margin-top: 65%;
    margin-bottom: 65%;
    margin-left: 1px;
    float: left;
  }

  .opening{
    background-color: black;
    color: white;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    overflow-x: hidden;
  }

  .title{
    background-color: #ED2426;
    padding-top: 10%;
    padding-bottom: 10%;
    overflow-x: hidden;
  }

  .gray{
    background-color: #969696;
    padding-top: .5%;
    padding-bottom: 10%;
    overflow-x: hidden;
  }

  .white{
    background-color: #FFFFFF;
    padding-top: .5%;
    padding-bottom: 10%;
    overflow-x: hidden;
  }

  .red{
    background-color: #ED2426;
    padding-top: .5%;
    padding-bottom: 10%;
    overflow-x: hidden;
  }

  .imgtwo{
    display: none;
  }

  .imgtwonew{
    display: block;
  }

  .textone{
    width: 90%;
    margin-left: 5%;
  }

  .texttwo{
    width: 90%;
    margin-left: 5%;
  }

  .textthree{
    color: white;
    width: 90%;
    margin-left: 5%;
  }

  .textfour{
    width: 90%;
    margin-left: 5%;
  }

  h1{
  font-family: octynaz, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  }

  h2{
  font-family: octynaz, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 85px;
  }

  p{
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  }
}
