*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

#court{
  width: 600px;
  margin: 50px auto;
}

.side, .back, .middle {
  float: left;
  border: 10px solid white;
}

.side{
  width: 100px;
  height: 400px;
  background-color: red;
}

.back{
  width: 400px;
  height: 100px;
  background-color: red;
}

.middle{
  width: 200px;
  height: 300px;
  background-color: red;
}
