/*gen style*/
body{
  margin: 0;
  margin-left: 15%;
}

/*div style*/
#container{
}

.title{
  transform: rotate(-90deg);
  height: 1400px;
  width: 1400px;
}

.chapter{
  margin-left: 250px;
  margin-top: -1400px;
}

.block{
  background-color: black;
  color: white;
  width: 40%;
  padding: 2%;
  float: left;
  margin-left: 250px;
}

/*type style*/
h1{
  font-family: blenny, sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 80px;
  margin-bottom: -25px;
}

h2{
  font-family: stratos, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}

h3{
  font-family: stratos, sans-serif;
  font-weight: 400;
  font-style: italic;
}

p{
  font-family: stratos, sans-serif;
  font-weight: 400;
  font-style: normal;
}
