body{
  margin: 0;
  overflow-x: hidden;
}

#container{
  width: 120%;
  margin-left: -10%;
  margin-top: -50px;
}

.tile1, .tile2, .tile3{
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
  opacity: .8;
}

.tile1{
  background-color: red;
}

.tile2{
  background-color: rebeccapurple;
}

.tile3{
  background-color: black;
}

.tile4, .tile5, .tile6{
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
}

.tile4{
  background-color: #734C61;
  border-radius: 100%;
}

.tile5{
  background-color: #D8EBF2;
  border-radius: 100%;
}

.tile6{
  background-color: #7B9EA6;
  border-radius: 100%;
}

.tile7, .tile8, .tile9{
  width: 100px;
  height: 100px;
  margin: 5px;
  float: left;
}

.tile7{
  width: 0;
  height: 0;
  border-top: 100px solid #590219;
  border-left: 100px solid transparent;
}

.tile8{
  width: 0;
  height: 0;
  border-bottom: 100px solid #BF4E6D;
  border-right: 100px solid transparent;
}

.tile9{
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-left: 100px solid #26010F;
  border-bottom: 50px solid transparent;
}

.tile10, .tile11, .tile12{
  width: 100px;
  height: 100px;
  margin: 20px;
  float: left;
}

.tile10{
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #8C4646;
}

.tile11{
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid #402B23;
}

.tile12{
  width: 200px;
  height: 100px;
  background: #BF8D7A;
  border-radius: 100px / 50px;
}

.tile13, .tile14, .tile15{
  width: 100px;
  height: 100px;
  margin: 10px;
  float: left;
}

.tile13{
  background-color: #360259;
}

.tile14{
  background-color: #060126;
}

.tile15{
  background-color: #F2059F;
}
