body{
  margin: 0;
  overflow-x: hidden;
}

#container{
  width: 120%;
  margin-left: -10%;
  margin-top: -50px;
}

.tile1, .tile2, .tile3{
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
  opacity: .8;
}

.tile1{
  background-color: red;
}

.tile2{
  background-color: rebeccapurple;
}

.tile3{
  background-color: black;
}

.tile4, .tile5, .tile6{
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
}

.tile4{
  background-color: #734C61;
  border-radius: 100%;
}

.tile5{
  background-color: #D8EBF2;
  border-radius: 100%;
}

.tile6{
  background-color: #7B9EA6;
  border-radius: 100%;
}

.tile7, .tile8, .tile9{
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
}

.tile7{
  background-color: #590219;
  border-radius: 100%;
}

.tile8{
  background-color: #BF4E6D;
  border-radius: 100%;
}

.tile9{
  background-color: #26010F;
  border-radius: 100%;
}

.tile10, .tile11, .tile12{
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
}

.tile10{
  background-color: #8C4646;
  border-radius: 100%;
}

.tile11{
  background-color: #402B23;
  border-radius: 100%;
}

.tile12{
  background-color: #BF8D7A;
  border-radius: 100%;
}

.tile13, .tile14, .tile15{
  width: 100px;
  height: 100px;
  margin: -10px;
  float: left;
}

.tile13{
  background-color: #360259;
  border-radius: 100%;
}

.tile14{
  background-color: #060126;
  border-radius: 100%;
}

.tile15{
  background-color: #F2059F;
  border-radius: 100%;
}
