/*gen style*/
body{
}

/*div style*/
#container{
}

.title{
  background-color: #F2A391;
  text-align: center;
  width: 200px;
  padding: 60px 20px;
  margin: 0 auto;
}

.author{
  background-color: #11C5D9;
  width: 800px;
  height: 50px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
}

.first{
  background-color: #F2EDE4;
  float: left;
  width: 500px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: -125px;
}

.second{
  background-color: #11B4D9;
  float: left;
  width: 500px;
  padding: 5px;
  margin: 0 auto;
  margin-top: 10px;
  margin-left: 550px;
}

/*type style*/
h1{
  font-family: farmhand-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2{
  font-family: linden-hill, serif;
  font-weight: 400;
  font-style: italic;
  display:inline;
  float:left;
}

h3{
  font-family: linden-hill, serif;
  font-weight: 400;
  font-style: normal;
  display:inline;
  float:right;
}

p{
  font-family: linden-hill, serif;
  font-weight: 400;
  font-style: normal;
}
