#container{
  width: 100%;
  margin: 0 auto;
}

#character{
  margin-left: 70%;
  margin-top: 70%;
  margin-bottom: -110%;
}

#game{
  float: left;
  margin-top: 15%;
  margin-left: 5%;
}

#imgone{
  margin-bottom: -79%;
  margin-left: 5%;
}

#imgtwo{
  margin-left: 60%;
  margin-bottom: -55%;
}

#imgthree{
  margin-left: 50%;
  margin-bottom: -71%;
}

#vid1{
  margin: auto;
}

#imgfour{
  margin-bottom: -80%;
}

#imgfive{
  margin-left: 60%;
  margin-bottom: -71%;
}

#imgsix{
  margin-left: 50%;
  margin-bottom: -79%;
}

#imgseven{
  margin-bottom: -89%;
  margin-left: 5%;
}

#imgeight{
  margin-left: 50%;
  margin-bottom: -79%;
}

#vid2{
  margin: 0 auto;
}

.opening{
  background-color: black;
  color: white;
  padding-top: 10%;
  padding-bottom: 40%;
  text-align: center;
}

#star-five {
  margin: 50px 0;
  position: relative;
  display: block;
  color: #2D2D2D;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #2D2D2D;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}
#star-five:before {
  border-bottom: 80px solid #2D2D2D;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: '';
  transform: rotate(-35deg);
}
#star-five:after {
  position: absolute;
  display: block;
  color: #2D2D2D;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #2D2D2D;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: '';
}

.title{
  background-color: #ED2426;
  height: 1298.557px;
}

.one{
  background-color: #969696;
  margin-top: 23%;
  padding-top: .5%;
  padding-bottom: 10%;
}

.proone{
  width: 40%;
  margin-left: 55%;
}

.two{
  background-color: #FFFFFF;
  padding-top: .5%;
  padding-bottom: 5%;
  margin-top: 10%;
}

.protwo{
  width: 40%;
  margin-left: 10%;
}

.three{
  background-color: #ED2426;
  padding-bottom: 5%;
  padding-top: .5%;
  margin-top: 13.6%;
}

.prothree{
  color: white;
  width: 40%;
  margin-left: 10%;
}

.four{
  background-color: #969696;
  margin-top: 18%;
  padding-bottom: 5%;
  padding-top: .5%;
}

.profour{
  width: 40%;
  margin-left: 55%;
}

.five{
  background-color: #FFFFFF;
  padding-bottom: 5%;
  padding-top: .5%;
  margin-top: 13%;
}

.profive{
  width: 40%;
  margin-left: 10%;
}

.six{
  background-color: #ED2426;
  padding-bottom: 5%;
  padding-top: .5%;
  margin-top: 11%;
}

.prosix{
  color: white;
  width: 40%;
  margin-left: 10%;
}

.seven{
  background-color: #969696;
  padding-bottom: 5%;
}

.proseven{
  width: 40%;
  margin-top: 18%;
  margin-left: 55%;
}

.eight{
  background-color: #FFFFFF;
  padding-bottom: 5%;
  padding-top: .5%;
  margin-top: 21.7%;
}

.proeight{
  width: 40%;
  margin-left: 10%;
}

body{
  margin: 0;
  margin-top: -5%;
  background-color: #111111;
}

h1{
font-family: octynaz, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 100px;
}

h2{
font-family: octynaz, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 95px;
}

p{
font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: normal;
font-size: 20px;
}
