#container{
  width: 1440px;
  margin: 0 auto;
}

.opening{
  background-color: black;
  height: 1297.974px;
  color: white;
}

.title{
  background-color: #ED2426;
  height: 1298.557px;
}

.one{
  background-color: #969696;
  height: 1298.436px;
}

.two{
  background-color: #FFFFFF;
  height: 1284.807px;
}

.three{
  background-color: #ED2426;
  height: 1285.388px;
}

.four{
  background-color: #969696;
  height: 1510.508px;
}

.five{
  background-color: #FFFFFF;
  height: 1511.672px;
}

.six{
  background-color: #ED2426;
  height: 1550.421px;
}

.seven{
  background-color: #969696;
  height: 1551.95px;
}

.eight{
  background-color: #FFFFFF;
  height: 1428.728px;
}

h1{
font-family: octynaz, sans-serif;
font-weight: 400;
font-style: normal;
}

p{
font-family: sofia-pro, sans-serif;
font-weight: 400;
font-style: normal;
}
